{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "unused-imports"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": ["webpack/*.js", "node_modules", "*.d.ts"],
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "semi": ["warn", "never"],
    "linebreak-style": ["error", "unix"],
    "radix": "off",
    "no-console": "off",
    "no-unused-expressions": "off",
    "no-multi-spaces": "warn",
    "comma-spacing": [
      "warn",
      {
        "before": false,
        "after": true
      }
    ],
    "key-spacing": [
      "warn",
      {
        "mode": "strict",
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "keyword-spacing": [
      "warn",
      {
        "after": true,
        "before": true
      }
    ],
    "space-in-parens": ["warn", "never"],
    "computed-property-spacing": ["warn", "never"],
    "array-bracket-spacing": ["warn", "never"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/ban-ts-comment": [
      "warn",
      {
        "ts-nocheck": "allow-with-description",
        "minimumDescriptionLength": 3
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "Object": false,
          "Function": false
        }
      }
    ],
    "unused-imports/no-unused-imports": "error"
  }
}
